<div class="span8">
	<h3> Railsgirls NL on twitter</h3>
	<a class="twitter-timeline" href="https://twitter.com/RailsGirls_NL" data-widget-id="338264779019911168">Tweets by @RailsGirls_NL</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

