<h1>Edit event</h1>
<div style="margin-left: 160px;">
  <p>
    <%= link_to "<i class='icon-trash'></i> Delete".html_safe, @event, confirm: "Are you sure?", method: :delete %>
  </p>
</div>
<%= render partial: "form" %>