<h1><%= @sponsor.name %></h1>
<%= image_tag @sponsor.logo.url(:medium) if @sponsor.logo_file_name %>
<p>
  <%= @sponsor.description %>
</p>
<p>
  <%= link_to("Website", @sponsor.url, target: "_blank") if @sponsor.url %>
</p>