div.contributor {
	padding: 10px;
  list-style: none;
  float: left;
}
div.contributor:nth-of-type(3n+1) {
  clear: both;
}
div.contributor_container {
  position: absolute;
  width: 400px;
  left: 50%;
  margin-left: -200px;
}
.contributor_container h3 {
  text-align: center;
}
