<div class='row'>
	<div class='span8'>
		<div class='well'>
			<h2>Events for upcoming month</h2>

			<% @events.each do |event| %>
				<%= link_to event.name, event.event_url, target: :_blank %>
			<% end %>
			<h3>Follow-up meeting</h3>
			<h4>25 May 2013</h4>
			<p>
				<b>The programme</b><br />
				<br />
				10h arrival, introductions, projects<br />
				11h -13h work on projects<br />
				13h - 14h lunch (provided by us)<br />
				14h - 17h code, chat, ask questions, whatever you like :) <br />
				17h pizza!<br />
				<br />
			</p>
			<p>
      	<b>Location</b><br />
      	UtrechtInc, Padualaan 8, Utrecht
		  </p>
		  <p>
		  	<%= link_to "Signup", "http://www.meetup.com/RailsGirls-NL/events/112638382/", target: "_blank" %>
		  </p>
	</div>
</div>