<div class='row'>
	<div class='span8'>
		<h2>Events for upcoming month</h2>

		<%# @events.each do | event| %>
		<h3>Follow-up meeting</h3>
		<h4>13 April 2013</h4>
		<p>
			<b>The programme</b><br />
			<br />
			10h arrival, introductions, projects<br />
			11h -13h work on projects<br />
			13h - 14h lunch (provided by us)<br />
			14h - 17h code, chat, ask questions, whatever you like :) <br />
			17h pizza!<br />
			<br />
			<b>Sponsor</b><br />
			This meetup will again be sponsored by <%= link_to "UtrechtInc", "http://www.utrechtinc.nl" %>
		</p>
		<p>
      <b>Location</b><br />
      UtrechtInc, Padualaan 8, Utrecht


		</p>
	</div>
</div>