<div class='row'>
  <div class='span12'>
    <h3>Contributors</h3>
      <ul>
        <% @contributors.each do |contributor| %>
          <li class='contributor'>
            <%= image_tag contributor["avatar_url"], size: "80x80" %>
            <%= link_to contributor["login"], contributor["html_url"] %>
          </li>
        <% end %>
      </ul>

  </div>
</div>

