<div class='row'>
  <div class='span12'>
    <h3>Contributors</h3>
    
    <p>Below you'll find a list of contributors to the source code of this website.
    If you also want to participate in this awesome project, please fork 
    <a href="https://github.com/sijbrandij/railsgirls-nl">the repo</a> and submit a pull request. 
    We will check your edits, 
    give feedback and hopefully merge it so you will see your changes here!</p>
    </p>
      <ul>
        <% @contributors.each do |contributor| %>
          <li class='contributor'>
            <%= image_tag contributor["avatar_url"], size: "80x80" %>
            <%= link_to contributor["login"], contributor["html_url"] %>
          </li>
        <% end %>
      </ul>

  </div>
</div>

