<div class='row'>
  <div class='span12'>
    <h1>Contributors</h1>
  </div>
  <ul>
    <% @contributors.each do |contributor| %>
      <li>
      <%= contributor %>
      </li>
    <% end %>
  </ul>
</div>
