<div class='row'>
  <div class='span12'>
    <h1>Contributors</h1>
      <ul>
        <% @contributors.each do |contributor| %>
          <li>
            <%= contributor["login"] %>
          </li>
        <% end %>
      </ul>
  </div>
</div>