<div class='row'>
  <div class='span12'>
    <div class="contributor_container">
      <h3>Contributors</h3>
      <% @contributors.each do |contributor| %>
        <div class='contributor'>
          <%= link_to contributor["html_url"] do %>
            <%= image_tag contributor["avatar_url"], size: "100x100", alt: contributor['login'] %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

