<div class='row'>
  <div class='span12'>
    <h1>Contributors</h1>
      <ul>
        <% @contributors.each do |contributor| %>
          <li>
            <%= link_to contributor['login'], contributor["html_url"] %>
          </li>
        <% end %>
      </ul>
  </div>
</div>